.f-maison {
  font-family: Maison, -apple-system, Helvetica, Arial, sans-serif, Symbol !important;
}

.f-maison-mono {
  font-family: Maison-mono, -apple-system, Helvetica, Arial, sans-serif, Symbol !important;
}

.f-montserrat {
  font-family: Montserrat, -apple-system, Helvetica, Arial, sans-serif, Symbol !important;
}

.f-title {
  line-height: 1;
  font-size: 45px !important;
  font-weight: 600 !important;
}

.f-subtitle {
  font-size: 32px !important;
  font-weight: 400 !important;
}

.f-text {
  font-size: 16px !important;
  line-height:25px !important;
}

.f-text-small {
  font-size: 0.875rem !important;
  line-height:28px !important;
}

.f-text-large {
  font-size: 24px !important;
}
