@font-face {
  font-family: Maison-mono;
  src: url(../fonts/Maison-mono.woff2);
}

@font-face {
  font-family: Maison;
  src: url(../fonts/Maison.woff2);
}

.f-rubik {
  font-family: Rubik, -apple-system, Helvetica, Arial, sans-serif, Symbol !important;
}

.f-maison {
  font-family: Maison, -apple-system, Helvetica, Arial, sans-serif, Symbol !important;
}

.f-maison-mono {
  font-family: Maison-mono, -apple-system, Helvetica, Arial, sans-serif, Symbol !important;
}

.f-light {
  font-weight: 300;
}

.f-bold {
  font-weight: 700;
}

.f-title {
  font-size: 36px;
}

.f-text {
  font-size: 16px;
}

.f-text-large {
  font-size: 24px;
}
