// fonts
$font-smaller: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-big: 16px;
$font-bigger: 24px;

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 900;

// colors
$color-black: #000000;
$color-black-transparent: #000000d1;
$color-white: #ffffff;
$violet: #4d3780;
$violet-light: #9786bf;
$lilac: #d1cae8;
$lilac-select: #f5f2ff;
$background: #f4f2f7;

// screens
$screen-xs: '320px';
$screen-sm: '600px';
$screen-md: '960px';
$screen-lg: '1264px';

// borders
$border-radius-tile: 0px;

// shadow
$box-shadow-default: 0px 0px 13px 0px #00000021;
$box-shadow-hover: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
$box-shadow-selected: 0px 3px 9px -2px $violet-light, 0px 2px 8px 0px $violet-light,
  0px 1px 3px 0px $violet-light;

// gradients
$user-background-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 39%, rgba(0, 0, 0, 0.33) 81%);
