.v-application .headline,
.v-application .title,
.v-application,
.v-application .v-card__title {
  font-family: Rubik, -apple-system, Helvetica, Arial, sans-serif, Symbol !important;
  word-break: break-word !important;
}

a:hover {
  text-decoration: underline !important;
}

a.anthive-btn:hover {
  text-decoration: none !important;
}

.right-to-left-line {
  transition: transform 0.2s ease-out;
  will-change: transform;
  transform: rotate(-2deg);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 1px;
  position: relative;
  border: 0;
}

.right-to-left-line::before,
.right-to-left-line::after {
  display: block;
  content: '';
  position: absolute;
  width: 50%;
  border-top: 1px solid #ececf1;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  will-change: transform;
}
.right-to-left-line::after {
  transform: translateY(-5px);
  left: 0;
}
.right-to-left-line::before {
  transform: translateY(5px);
  right: 0;
}

.left-to-right-line {
  transition: transform 0.2s ease-out;
  will-change: transform;
  transform: rotate(2deg);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 1px;
  position: relative;
  border: 0;
}
.left-to-right-line::before,
.left-to-right-line::after {
  display: block;
  content: '';
  position: absolute;
  width: 50%;
  border-top: 1px solid #ececf1;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  will-change: transform;
}
.left-to-right-line::before {
  transform: translateY(-5px);
  left: 0;
}
.left-to-right-line::after {
  transform: translateY(5px);
  right: 0;
}

/* Markdown */
.docs code {
  color: #e83e8c!important;
  background: none!important;
  padding: 0!important;
  white-space: break-spaces!important;
}

.docs pre > code {
  display: block;
  color: #423b87!important;  
  background: #f5fafe!important;
  border-radius: 4px;
  border: 1px solid #c8cbd1;
  transition: 0.125s ease-out;
  padding: 0.75rem!important;
}

.docs .green-note {
  color: #224947!important;
  background-color: #d5e5e2!important;
  border: 2px solid #92bbb4!important;
  padding: 0.75rem 1.25rem!important;
}

.docs .orange-note {
  color: #8c5e46!important;
  background-color: #feede2!important;
  border: 2px solid #fcd1b3!important;
  padding: 0.75rem 1.25rem!important;
}

.docs a {
  color: #6c5fc7;
}

.docs a:hover {
  text-decoration: underline;
}

.docs h1,
.docs h2,
.docs h3,
.docs h4,
.docs h5,
.docs h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.docs h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.docs h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}